
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Roboto', sans-serif;
 
}

main{
display: flex;

}

h3 {
  margin-bottom: 1rem;
}

.content,
p {
  padding: 1rem 0;
}

.form{
  max-width: 500px;
}
